<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BDLab.Properties.Settings.ConnectionString" connectionString="Dsn=sqlshybaroman;uid=sqlkns17_2_srm;pwd=kns17_srm"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>